#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#canvas {
    object-fit: contain;
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    top: 0;
    left: 0;
}

#settings {
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    width: min-content;
    color: white;
    font-size: 0.7rem;
    padding: 0.5rem;
    padding-right: 1rem;
}

#settings > div {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    align-items: center;
    gap: 0.5rem;
}

#settings h3 {
    margin: 0;
}

#settings input {
    height: 1rem;
}

#settings label {
    text-align: right;
}
